body {
  /* padding: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #007bff;
}

label {
  display: block;
  width: 400px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.7s;
}

.content-section {
  display: none;
}

label:hover {
  cursor: pointer;
  background-color: #e2e6ea;
}

input[type="radio"]:checked + label {
  background-color: #0056b3;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#tab1:checked ~ .content .content-section#content1,
#tab2:checked ~ .content .content-section#content2,
#tab3:checked ~ .content .content-section#content3 {
  display: block;
  margin-top: 1%;
  text-align: center;
  animation: slideIn 0.5s ease-in-out;
}
img {
  position: absolute;
  display: block;
  margin: 0 auto;
  
}